// killing floor 2 server config

// force download of kf2 server
@sSteamCmdForcePlatformType windows

// login to steam to pull the server, use anonymous
login anonymous

// set our directory to /scripts/kf2server
force_install_dir ./kf2server

// to force a re-download add validate: i.e. app_update 232130 validate
app_update 232130

// exit
exit
