// starbound server config

// login to steam to pull the server, use anonymous
login <USERNAME> <PASSWORD>

// set our directory to $STEAMCMD/starbound
force_install_dir ./starbound

// to force a re-download add validate: i.e. app_update 211820 validate
app_update 211820

// exit
quit
